<%= "#{pluralize(@users.count, "users")}" %>

<table class="table">
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td>
          <%= link_to(u.name, u) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="btn btn-default pull-right"><%= link_to('New User', new_user_path) %></p>
