<%= "#{pluralize(@users.count, "users")}" %>

<table class="table">
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @users.each do |u| %>
      <td>
        <%= link_to(u.name, u) %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to('New User', new_user_path) %>
