<%= "#{pluralize(@projects.count, "projects")}" %>

<table class="display" id="projects">
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |p| %>
      <tr>
        <td><%= link_to p.name, p %></td>
        <td><%= p.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to('New Project', new_project_path) %>
