<%= "#{pluralize(@projects.count, "projects")}" %>

<table>
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @projects.each do |p| %>
      <td>
        <%= link_to p.name, p %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to('New Project', new_project_path) %>
