<%= "#{pluralize(@tasks.count, "tasks")}" %>

<table>
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @tasks.each do |t| %>
      <td>
        <%= t.name %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
