<h1><%= @project.name %></h1>

<table>
  <thead>
    <tr>
      <td><%= "#{pluralize(@tasks.count, "tasks")}" %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @tasks.each do |t| %>
      <td>
        <%= t.name %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>
