<%= "#{pluralize(@resources.count, "resources")}" %>

<table class="table">
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @resources.each do |r| %>
      <td>
        <%= link_to r.name, r %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to('New Resource', new_resource_path) %>
