<h1><%= @resource.name %></h1>
<p><%= @resource.description %></p>

<p class="btn btn-lg btn-default"><%= link_to('Edit Resource', edit_resource_path(@resource)) %></p>
<p class="btn btn-default"><%= link_to('Back to Resources', resources_path) %></p>
