/** DataTables
 */

select {
  width: auto;
}

.dataTables_wrapper .dataTables_filter input {
  display: inline;
}

.border-radius-base {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.resources-list a {
  padding: 0 0.5em 0 0;
  display: block;
}
