<% flash.each do |k, v| %>
  <% if v.is_a?(String) %>
    <div data-alert class="alert-box round <%= k.to_s == 'notice' ? 'sucess' : 'alert' %>">
      <%= content_tag :div, v %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
